.bundle
.DS_Store
doc/api
doc/app
log/*
pkg
rerun.txt
test/dummy/config/database.yml
test/dummy/coverage
test/dummy/coverage.data
test/dummy/db/*.sqlite3
test/dummy/log/*
test/dummy/public/javascripts/cache
test/dummy/public/stylesheets/*.css
test/dummy/public/stylesheets/cache
test/dummy/tmp/*
.sass-cache